<a href="https://colab.research.google.com/github/uteyechea/crime-prediction-using-artificial-intelligence/blob/master/Part3_Temporal_Autocorrelation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Part 3: Get autocorrelated sequences (windowing) to train the RNN in a peculiar pattern. 
Unfortunately training must be done again for every new sequence or window of data points in the time series. We are training the RNN to learn a specific class of pattern in a time series, instead of having the RNN learn the full time series itself. Why? Because I don't trust the RNN to be able to learn the whole time series, nevertheless I will test my doubts later and see if it can truly learn the whole time series.

##3.1 Dependencies, mount Google Drive and set system path
Import the relevant packages we will use to preprocess the raw data files.

In [1]:
import os
import gc

import pandas as pd
from scipy import stats

from google.colab import drive
drive.mount('/content/drive', force_remount=True)



path='/content/drive/My Drive/Colab Notebooks/crime_prediction'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

##3.2 Locate time series file and load to memory
Verify file column names and remove nulls.

In [2]:
file_path=os.path.join(path,'data','training_data_theft.csv')
file=pd.read_csv(file_path,sep=',',parse_dates=['Date'],index_col='Date')
file.isnull().values.any() # nulls?

False

In [3]:
print(file.columns.get_loc('zone4')) #Series autocorrelation requires a pandas.Series
print(file.columns[4]) #we can either select a pandas.Series from a DataFrame using column name or index.

4
zone4

In [4]:
file #Normalized to [0,1] data file contents.

            zone0  zone1  zone2  zone3  ...  zone16  zone17  zone18  zone19
Date                                    ...
2001-01-01    0.0   0.10  0.324  0.364  ...   0.138   0.294   0.167   0.158
2001-01-02    0.0   0.00  0.000  0.000  ...   0.000   0.000   0.000   0.000
2001-01-03    0.0   0.00  0.000  0.030  ...   0.000   0.000   0.000   0.000
2001-01-05    0.0   0.00  0.000  0.000  ...   0.000   0.000   0.000   0.000
2001-01-06    0.0   0.00  0.027  0.000  ...   0.000   0.000   0.000   0.000
...           ...    ...    ...    ...  ...     ...     ...     ...     ...
2018-12-28    0.0   0.34  0.216  0.212  ...   0.379   0.147   0.222   0.105
2018-12-29    0.0   0.40  0.108  0.121  ...   0.207   0.147   0.139   0.053
2018-12-30    0.0   0.22  0.135  0.182  ...   0.241   0.235   0.167   0.211
2018-12-31    0.0   0.24  0.270  0.121  ...   0.310   0.088   0.167   0.105
2019-01-01    0.0   0.18  0.081  0.242  ...   0.138   0.294   0.167   0.105

[6495 rows x 20 columns]

##3.3 Series autocorrelation

1. Get a window of length t-n, where t is the end datetime and n is the length of the window or sequence in a data series.
2. Then compute the correlation between the selected window and all other windows in the same data series. 
3. Create a list of datetamps, add a new timestamps whenever a high correlation is found.
4. Use the datestamps to generate a sequence of highly correlated sequences.

###3.3.1 Get window, as in windowing from statistics

In [5]:
def window(dataframe,end_date,lookback_periods,column_name):
  window=dataframe.loc[pd.date_range(start=end_date,periods=lookback_periods,freq='-1D'),column_name]
  return window[::-1] #Sort window by datetime, as in any time series, older values first ...

In [6]:
window(file,'2019-01-01',lookback_periods=10,column_name='zone11')

2018-12-23    0.000
2018-12-24    0.179
2018-12-25    0.000
2018-12-26    0.107
2018-12-27    0.071
2018-12-28    0.143
2018-12-29    0.214
2018-12-30    0.107
2018-12-31    0.250
2019-01-01    0.214
Freq: D, Name: zone11, dtype: float64

###3.3.2 Get windows correlation

In [7]:
def corr_windows(series1,series2):
  #assert something?
  series1=series1.reset_index(drop=True) #Better find a way to simplify this procedure
  series2=series2.reset_index(drop=True) #Better find a way to simplify this procedure
  ro=series1.corr(series2) 
#maybe try np.correlate (mode=same)
  return ro

###3.3.3 Get timestamp of autocorrelated time series window

In [8]:
def autocorr_timestamps(dataframe,end_date,lookback_periods,column_name,min_correlation):
  timestamps=[]
  series2=window(dataframe,end_date,lookback_periods,column_name)
  #loop over index type datetime, up to date end_date and starting from index at posittion lookback_periods
  for timestamp in dataframe.loc[:end_date].index[lookback_periods::]:   
    try:
      series1=window(dataframe,timestamp,lookback_periods,column_name)
      correlation=corr_windows(series1,series2)
      if correlation >= min_correlation:
      #record datetime value. We will use this datetime value to generate all sequences that will go as input to the RNN
      #print(dataframe.index[epoch]) 
        timestamps.append(timestamp)
    except:
      print('Missing date in dataframe while looping over time series, i.e. discontinuity in time series')
  return timestamps

In [9]:
autocorr_timestamps(dataframe=file,end_date='2019-01-01',lookback_periods=10,column_name='zone11',min_correlation=0.75)

Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series

[Timestamp('2002-02-22 00:00:00'),
 Timestamp('2002-05-07 00:00:00'),
 Timestamp('2002-07-30 00:00:00'),
 Timestamp('2002-11-19 00:00:00'),
 Timestamp('2003-01-09 00:00:00'),
 Timestamp('2004-03-02 00:00:00'),
 Timestamp('2004-09-05 00:00:00'),
 Timestamp('2004-11-02 00:00:00'),
 Timestamp('2005-06-17 00:00:00'),
 Timestamp('2005-08-04 00:00:00'),
 Timestamp('2006-03-24 00:00:00'),
 Timestamp('2007-07-26 00:00:00'),
 Timestamp('2008-04-16 00:00:00'),
 Timestamp('2008-11-02 00:00:00'),
 Timestamp('2009-11-20 00:00:00'),
 Timestamp('2010-01-01 00:00:00'),
 Timestamp('2010-03-13 00:00:00'),
 Timestamp('2011-05-10 00:00:00'),
 Timestamp('2011-07-14 00:00:00'),
 Timestamp('2012-09-07 00:00:00'),
 Timestamp('2014-01-14 00:00:00'),
 Timestamp('2014-03-18 00:00:00'),
 Timestamp('2014-07-05 00:00:00'),
 Timestamp('2015-01-20 00:00:00'),
 Timestamp('2015-10-27 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-10-07 00:00:00'),
 Timestamp('2017-01-20 00:00:00'),
 Timestamp('2017-09-28 00:00:00'),
 Timestamp('2018-02-22 00:00:00'),
 Timestamp('2018-03-09 00:00:00'),
 Timestamp('2018-04-16 00:00:00'),
 Timestamp('2018-05-15 00:00:00'),
 Timestamp('2018-06-23 00:00:00'),
 Timestamp('2018-11-21 00:00:00'),
 Timestamp('2018-12-10 00:00:00'),
 Timestamp('2019-01-01 00:00:00')]

###3.3.4 Get autocorrelated windows

In [10]:
def autocorr_windows(dataframe,end_date,lookback_periods,column_name,min_correlation):
  timestamps=autocorr_timestamps(dataframe,end_date,lookback_periods,column_name,min_correlation)
  apriori_windows={}
  aposteriori_windows={}
  windows={}
  for timestamp in timestamps:
    try:
      apriori_windows[timestamp]=dataframe.loc[pd.date_range(start=timestamp,periods=lookback_periods,freq='-1D'),column_name]
      aposteriori_windows[timestamp]=dataframe.loc[pd.date_range(start=timestamp,periods=lookback_periods,freq='1D',closed='right'),column_name]
    except:
      print('Missing date in dataframe while looping over time series, i.e. discontinuity in time series')
    try:
      windows[timestamp]=apriori_windows[timestamp][::-1].append(aposteriori_windows[timestamp])
    except:
      print('Error while constructing window for datetime stamp:',str(timestamp))
  return windows

In [11]:
windows=autocorr_windows(dataframe=file,end_date='2019-01-01',lookback_periods=10,column_name='zone11',min_correlation=0.75)

Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series
Missing date in dataframe while looping over time series, i.e. discontinuity in time series

In [12]:
windows

{Timestamp('2002-02-22 00:00:00'): 2002-02-13    0.000
 2002-02-14    0.000
 2002-02-15    0.000
 2002-02-16    0.000
 2002-02-17    0.000
 2002-02-18    0.000
 2002-02-19    0.036
 2002-02-20    0.000
 2002-02-21    0.071
 2002-02-22    0.036
 2002-02-23    0.000
 2002-02-24    0.036
 2002-02-25    0.000
 2002-02-26    0.036
 2002-02-27    0.000
 2002-02-28    0.036
 2002-03-01    0.143
 2002-03-02    0.000
 2002-03-03    0.000
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2002-05-07 00:00:00'): 2002-04-28    0.286
 2002-04-29    0.429
 2002-04-30    0.321
 2002-05-01    0.393
 2002-05-02    0.357
 2002-05-03    0.536
 2002-05-04    0.536
 2002-05-05    0.357
 2002-05-06    0.464
 2002-05-07    0.607
 2002-05-08    0.607
 2002-05-09    0.429
 2002-05-10    0.571
 2002-05-11    0.357
 2002-05-12    0.357
 2002-05-13    0.607
 2002-05-14    0.393
 2002-05-15    0.500
 2002-05-16    0.286
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2002-07-30 00:00:00'): 2002-07-21    0.179
 2002-07-22    0.571
 2002-07-23    0.429
 2002-07-24    0.464
 2002-07-25    0.429
 2002-07-26    0.607
 2002-07-27    0.607
 2002-07-28    0.571
 2002-07-29    0.536
 2002-07-30    0.786
 2002-07-31    0.643
 2002-08-01    0.643
 2002-08-02    0.286
 2002-08-03    0.393
 2002-08-04    0.179
 2002-08-05    0.536
 2002-08-06    0.393
 2002-08-07    0.393
 2002-08-08    0.607
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2002-11-19 00:00:00'): 2002-11-10    0.107
 2002-11-11    0.393
 2002-11-12    0.250
 2002-11-13    0.357
 2002-11-14    0.429
 2002-11-15    0.393
 2002-11-16    0.429
 2002-11-17    0.250
 2002-11-18    0.536
 2002-11-19    0.429
 2002-11-20    0.393
 2002-11-21    0.286
 2002-11-22    0.571
 2002-11-23    0.179
 2002-11-24    0.286
 2002-11-25    0.393
 2002-11-26    0.286
 2002-11-27    0.286
 2002-11-28    0.214
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2003-01-09 00:00:00'): 2002-12-31    0.286
 2003-01-01    0.464
 2003-01-02    0.179
 2003-01-03    0.286
 2003-01-04    0.286
 2003-01-05    0.321
 2003-01-06    0.536
 2003-01-07    0.393
 2003-01-08    0.607
 2003-01-09    0.500
 2003-01-10    0.357
 2003-01-11    0.393
 2003-01-12    0.321
 2003-01-13    0.393
 2003-01-14    0.357
 2003-01-15    0.536
 2003-01-16    0.321
 2003-01-17    0.321
 2003-01-18    0.429
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2004-03-02 00:00:00'): 2004-02-22    0.143
 2004-02-23    0.464
 2004-02-24    0.214
 2004-02-25    0.357
 2004-02-26    0.143
 2004-02-27    0.179
 2004-02-28    0.464
 2004-02-29    0.286
 2004-03-01    0.464
 2004-03-02    0.393
 2004-03-03    0.393
 2004-03-04    0.429
 2004-03-05    0.643
 2004-03-06    0.321
 2004-03-07    0.250
 2004-03-08    0.464
 2004-03-09    0.143
 2004-03-10    0.429
 2004-03-11    0.500
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2004-09-05 00:00:00'): 2004-08-27    0.321
 2004-08-28    0.429
 2004-08-29    0.321
 2004-08-30    0.357
 2004-08-31    0.321
 2004-09-01    0.429
 2004-09-02    0.571
 2004-09-03    0.357
 2004-09-04    0.607
 2004-09-05    0.393
 2004-09-06    0.393
 2004-09-07    0.500
 2004-09-08    0.464
 2004-09-09    0.393
 2004-09-10    0.357
 2004-09-11    0.500
 2004-09-12    0.393
 2004-09-13    0.393
 2004-09-14    0.500
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2004-11-02 00:00:00'): 2004-10-24    0.393
 2004-10-25    0.464
 2004-10-26    0.250
 2004-10-27    0.464
 2004-10-28    0.464
 2004-10-29    0.536
 2004-10-30    0.464
 2004-10-31    0.429
 2004-11-01    0.786
 2004-11-02    0.500
 2004-11-03    0.250
 2004-11-04    0.429
 2004-11-05    0.679
 2004-11-06    0.393
 2004-11-07    0.250
 2004-11-08    0.429
 2004-11-09    0.500
 2004-11-10    0.393
 2004-11-11    0.500
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2005-06-17 00:00:00'): 2005-06-08    0.393
 2005-06-09    0.464
 2005-06-10    0.214
 2005-06-11    0.357
 2005-06-12    0.286
 2005-06-13    0.393
 2005-06-14    0.393
 2005-06-15    0.250
 2005-06-16    0.786
 2005-06-17    0.643
 2005-06-18    0.464
 2005-06-19    0.429
 2005-06-20    0.464
 2005-06-21    0.393
 2005-06-22    0.429
 2005-06-23    0.536
 2005-06-24    0.607
 2005-06-25    0.429
 2005-06-26    0.536
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2005-08-04 00:00:00'): 2005-07-26    0.357
 2005-07-27    0.607
 2005-07-28    0.286
 2005-07-29    0.500
 2005-07-30    0.464
 2005-07-31    0.500
 2005-08-01    0.429
 2005-08-02    0.429
 2005-08-03    0.607
 2005-08-04    0.607
 2005-08-05    0.607
 2005-08-06    0.500
 2005-08-07    0.571
 2005-08-08    0.464
 2005-08-09    0.500
 2005-08-10    0.393
 2005-08-11    0.429
 2005-08-12    0.643
 2005-08-13    0.321
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2006-03-24 00:00:00'): 2006-03-15    0.143
 2006-03-16    0.357
 2006-03-17    0.250
 2006-03-18    0.179
 2006-03-19    0.179
 2006-03-20    0.357
 2006-03-21    0.357
 2006-03-22    0.393
 2006-03-23    0.571
 2006-03-24    0.429
 2006-03-25    0.429
 2006-03-26    0.214
 2006-03-27    0.393
 2006-03-28    0.286
 2006-03-29    0.571
 2006-03-30    0.536
 2006-03-31    0.429
 2006-04-01    0.321
 2006-04-02    0.500
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2007-07-26 00:00:00'): 2007-07-17    0.286
 2007-07-18    0.429
 2007-07-19    0.250
 2007-07-20    0.357
 2007-07-21    0.286
 2007-07-22    0.500
 2007-07-23    0.607
 2007-07-24    0.286
 2007-07-25    0.464
 2007-07-26    0.536
 2007-07-27    0.500
 2007-07-28    0.321
 2007-07-29    0.286
 2007-07-30    0.464
 2007-07-31    0.321
 2007-08-01    0.357
 2007-08-02    0.179
 2007-08-03    0.464
 2007-08-04    0.393
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2008-04-16 00:00:00'): 2008-04-07    0.357
 2008-04-08    0.536
 2008-04-09    0.250
 2008-04-10    0.179
 2008-04-11    0.286
 2008-04-12    0.393
 2008-04-13    0.500
 2008-04-14    0.393
 2008-04-15    0.536
 2008-04-16    0.464
 2008-04-17    0.250
 2008-04-18    0.536
 2008-04-19    0.286
 2008-04-20    0.464
 2008-04-21    0.393
 2008-04-22    0.429
 2008-04-23    0.357
 2008-04-24    0.357
 2008-04-25    0.393
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2008-11-02 00:00:00'): 2008-10-24    0.179
 2008-10-25    0.429
 2008-10-26    0.250
 2008-10-27    0.321
 2008-10-28    0.321
 2008-10-29    0.286
 2008-10-30    0.393
 2008-10-31    0.321
 2008-11-01    0.321
 2008-11-02    0.429
 2008-11-03    0.250
 2008-11-04    0.179
 2008-11-05    0.321
 2008-11-06    0.500
 2008-11-07    0.286
 2008-11-08    0.214
 2008-11-09    0.286
 2008-11-10    0.214
 2008-11-11    0.500
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2009-11-20 00:00:00'): 2009-11-11    0.286
 2009-11-12    0.357
 2009-11-13    0.214
 2009-11-14    0.214
 2009-11-15    0.250
 2009-11-16    0.321
 2009-11-17    0.393
 2009-11-18    0.357
 2009-11-19    0.500
 2009-11-20    0.393
 2009-11-21    0.286
 2009-11-22    0.286
 2009-11-23    0.536
 2009-11-24    0.393
 2009-11-25    0.393
 2009-11-26    0.214
 2009-11-27    0.250
 2009-11-28    0.321
 2009-11-29    0.321
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2010-01-01 00:00:00'): 2009-12-23    0.107
 2009-12-24    0.286
 2009-12-25    0.107
 2009-12-26    0.107
 2009-12-27    0.250
 2009-12-28    0.357
 2009-12-29    0.286
 2009-12-30    0.357
 2009-12-31    0.464
 2010-01-01    0.393
 2010-01-02    0.071
 2010-01-03    0.107
 2010-01-04    0.393
 2010-01-05    0.393
 2010-01-06    0.571
 2010-01-07    0.214
 2010-01-08    0.214
 2010-01-09    0.143
 2010-01-10    0.036
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2010-03-13 00:00:00'): 2010-03-04    0.286
 2010-03-05    0.357
 2010-03-06    0.107
 2010-03-07    0.250
 2010-03-08    0.286
 2010-03-09    0.321
 2010-03-10    0.357
 2010-03-11    0.286
 2010-03-12    0.321
 2010-03-13    0.393
 2010-03-14    0.214
 2010-03-15    0.464
 2010-03-16    0.357
 2010-03-17    0.214
 2010-03-18    0.321
 2010-03-19    0.500
 2010-03-20    0.536
 2010-03-21    0.286
 2010-03-22    0.321
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2011-05-10 00:00:00'): 2011-05-01    0.143
 2011-05-02    0.250
 2011-05-03    0.214
 2011-05-04    0.250
 2011-05-05    0.286
 2011-05-06    0.393
 2011-05-07    0.429
 2011-05-08    0.214
 2011-05-09    0.464
 2011-05-10    0.321
 2011-05-11    0.357
 2011-05-12    0.107
 2011-05-13    0.464
 2011-05-14    0.500
 2011-05-15    0.214
 2011-05-16    0.286
 2011-05-17    0.321
 2011-05-18    0.179
 2011-05-19    0.393
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2011-07-14 00:00:00'): 2011-07-05    0.286
 2011-07-06    0.464
 2011-07-07    0.179
 2011-07-08    0.321
 2011-07-09    0.179
 2011-07-10    0.321
 2011-07-11    0.321
 2011-07-12    0.286
 2011-07-13    0.607
 2011-07-14    0.536
 2011-07-15    0.357
 2011-07-16    0.286
 2011-07-17    0.357
 2011-07-18    0.429
 2011-07-19    0.250
 2011-07-20    0.250
 2011-07-21    0.464
 2011-07-22    0.321
 2011-07-23    0.357
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2012-09-07 00:00:00'): 2012-08-29    0.250
 2012-08-30    0.393
 2012-08-31    0.250
 2012-09-01    0.321
 2012-09-02    0.357
 2012-09-03    0.429
 2012-09-04    0.536
 2012-09-05    0.321
 2012-09-06    0.393
 2012-09-07    0.357
 2012-09-08    0.393
 2012-09-09    0.179
 2012-09-10    0.321
 2012-09-11    0.464
 2012-09-12    0.607
 2012-09-13    0.393
 2012-09-14    0.536
 2012-09-15    0.357
 2012-09-16    0.214
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2014-01-14 00:00:00'): 2014-01-05    0.179
 2014-01-06    0.179
 2014-01-07    0.107
 2014-01-08    0.250
 2014-01-09    0.143
 2014-01-10    0.179
 2014-01-11    0.250
 2014-01-12    0.250
 2014-01-13    0.357
 2014-01-14    0.286
 2014-01-15    0.286
 2014-01-16    0.179
 2014-01-17    0.250
 2014-01-18    0.071
 2014-01-19    0.429
 2014-01-20    0.214
 2014-01-21    0.143
 2014-01-22    0.179
 2014-01-23    0.179
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2014-03-18 00:00:00'): 2014-03-09    0.107
 2014-03-10    0.250
 2014-03-11    0.107
 2014-03-12    0.179
 2014-03-13    0.179
 2014-03-14    0.250
 2014-03-15    0.179
 2014-03-16    0.250
 2014-03-17    0.429
 2014-03-18    0.321
 2014-03-19    0.179
 2014-03-20    0.071
 2014-03-21    0.179
 2014-03-22    0.214
 2014-03-23    0.286
 2014-03-24    0.357
 2014-03-25    0.286
 2014-03-26    0.036
 2014-03-27    0.250
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2014-07-05 00:00:00'): 2014-06-26    0.071
 2014-06-27    0.286
 2014-06-28    0.143
 2014-06-29    0.179
 2014-06-30    0.179
 2014-07-01    0.321
 2014-07-02    0.357
 2014-07-03    0.357
 2014-07-04    0.321
 2014-07-05    0.250
 2014-07-06    0.286
 2014-07-07    0.321
 2014-07-08    0.143
 2014-07-09    0.464
 2014-07-10    0.143
 2014-07-11    0.250
 2014-07-12    0.036
 2014-07-13    0.143
 2014-07-14    0.357
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2015-01-20 00:00:00'): 2015-01-11    0.071
 2015-01-12    0.357
 2015-01-13    0.214
 2015-01-14    0.107
 2015-01-15    0.179
 2015-01-16    0.250
 2015-01-17    0.250
 2015-01-18    0.286
 2015-01-19    0.357
 2015-01-20    0.393
 2015-01-21    0.143
 2015-01-22    0.179
 2015-01-23    0.464
 2015-01-24    0.179
 2015-01-25    0.214
 2015-01-26    0.321
 2015-01-27    0.143
 2015-01-28    0.143
 2015-01-29    0.214
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2015-10-27 00:00:00'): 2015-10-18    0.107
 2015-10-19    0.286
 2015-10-20    0.214
 2015-10-21    0.321
 2015-10-22    0.250
 2015-10-23    0.179
 2015-10-24    0.286
 2015-10-25    0.214
 2015-10-26    0.357
 2015-10-27    0.357
 2015-10-28    0.107
 2015-10-29    0.286
 2015-10-30    0.214
 2015-10-31    0.214
 2015-11-01    0.393
 2015-11-02    0.429
 2015-11-03    0.143
 2015-11-04    0.286
 2015-11-05    0.321
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2016-06-30 00:00:00'): 2016-06-21    0.143
 2016-06-22    0.321
 2016-06-23    0.179
 2016-06-24    0.107
 2016-06-25    0.286
 2016-06-26    0.179
 2016-06-27    0.357
 2016-06-28    0.250
 2016-06-29    0.464
 2016-06-30    0.357
 2016-07-01    0.214
 2016-07-02    0.357
 2016-07-03    0.179
 2016-07-04    0.143
 2016-07-05    0.286
 2016-07-06    0.179
 2016-07-07    0.143
 2016-07-08    0.214
 2016-07-09    0.536
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2016-10-07 00:00:00'): 2016-09-28    0.214
 2016-09-29    0.214
 2016-09-30    0.071
 2016-10-01    0.250
 2016-10-02    0.214
 2016-10-03    0.357
 2016-10-04    0.393
 2016-10-05    0.321
 2016-10-06    0.357
 2016-10-07    0.357
 2016-10-08    0.214
 2016-10-09    0.214
 2016-10-10    0.321
 2016-10-11    0.357
 2016-10-12    0.393
 2016-10-13    0.286
 2016-10-14    0.464
 2016-10-15    0.179
 2016-10-16    0.321
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2017-01-20 00:00:00'): 2017-01-11    0.143
 2017-01-12    0.143
 2017-01-13    0.143
 2017-01-14    0.214
 2017-01-15    0.143
 2017-01-16    0.286
 2017-01-17    0.429
 2017-01-18    0.143
 2017-01-19    0.357
 2017-01-20    0.321
 2017-01-21    0.250
 2017-01-22    0.250
 2017-01-23    0.393
 2017-01-24    0.286
 2017-01-25    0.250
 2017-01-26    0.321
 2017-01-27    0.071
 2017-01-28    0.179
 2017-01-29    0.179
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2017-09-28 00:00:00'): 2017-09-19    0.179
 2017-09-20    0.286
 2017-09-21    0.107
 2017-09-22    0.214
 2017-09-23    0.214
 2017-09-24    0.393
 2017-09-25    0.321
 2017-09-26    0.179
 2017-09-27    0.357
 2017-09-28    0.286
 2017-09-29    0.214
 2017-09-30    0.071
 2017-10-01    0.179
 2017-10-02    0.071
 2017-10-03    0.179
 2017-10-04    0.321
 2017-10-05    0.036
 2017-10-06    0.321
 2017-10-07    0.321
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-02-22 00:00:00'): 2018-02-13    0.214
 2018-02-14    0.286
 2018-02-15    0.143
 2018-02-16    0.107
 2018-02-17    0.107
 2018-02-18    0.214
 2018-02-19    0.321
 2018-02-20    0.143
 2018-02-21    0.321
 2018-02-22    0.357
 2018-02-23    0.500
 2018-02-24    0.214
 2018-02-25    0.214
 2018-02-26    0.143
 2018-02-27    0.321
 2018-02-28    0.107
 2018-03-01    0.250
 2018-03-02    0.071
 2018-03-03    0.071
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-03-09 00:00:00'): 2018-02-28    0.107
 2018-03-01    0.250
 2018-03-02    0.071
 2018-03-03    0.071
 2018-03-04    0.143
 2018-03-05    0.286
 2018-03-06    0.286
 2018-03-07    0.214
 2018-03-08    0.250
 2018-03-09    0.393
 2018-03-10    0.214
 2018-03-11    0.107
 2018-03-12    0.286
 2018-03-13    0.286
 2018-03-14    0.143
 2018-03-15    0.143
 2018-03-16    0.250
 2018-03-17    0.107
 2018-03-18    0.214
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-04-16 00:00:00'): 2018-04-07    0.071
 2018-04-08    0.214
 2018-04-09    0.071
 2018-04-10    0.214
 2018-04-11    0.071
 2018-04-12    0.250
 2018-04-13    0.429
 2018-04-14    0.250
 2018-04-15    0.286
 2018-04-16    0.286
 2018-04-17    0.250
 2018-04-18    0.071
 2018-04-19    0.143
 2018-04-20    0.393
 2018-04-21    0.179
 2018-04-22    0.071
 2018-04-23    0.214
 2018-04-24    0.286
 2018-04-25    0.250
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-05-15 00:00:00'): 2018-05-06    0.250
 2018-05-07    0.357
 2018-05-08    0.179
 2018-05-09    0.214
 2018-05-10    0.286
 2018-05-11    0.286
 2018-05-12    0.357
 2018-05-13    0.250
 2018-05-14    0.321
 2018-05-15    0.321
 2018-05-16    0.214
 2018-05-17    0.250
 2018-05-18    0.250
 2018-05-19    0.357
 2018-05-20    0.357
 2018-05-21    0.500
 2018-05-22    0.286
 2018-05-23    0.464
 2018-05-24    0.214
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-06-23 00:00:00'): 2018-06-14    0.107
 2018-06-15    0.250
 2018-06-16    0.214
 2018-06-17    0.321
 2018-06-18    0.250
 2018-06-19    0.250
 2018-06-20    0.321
 2018-06-21    0.286
 2018-06-22    0.357
 2018-06-23    0.321
 2018-06-24    0.321
 2018-06-25    0.286
 2018-06-26    0.321
 2018-06-27    0.357
 2018-06-28    0.179
 2018-06-29    0.179
 2018-06-30    0.393
 2018-07-01    0.286
 2018-07-02    0.179
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-11-21 00:00:00'): 2018-11-12    0.143
 2018-11-13    0.143
 2018-11-14    0.071
 2018-11-15    0.107
 2018-11-16    0.107
 2018-11-17    0.107
 2018-11-18    0.214
 2018-11-19    0.179
 2018-11-20    0.286
 2018-11-21    0.286
 2018-11-22    0.071
 2018-11-23    0.179
 2018-11-24    0.321
 2018-11-25    0.250
 2018-11-26    0.179
 2018-11-27    0.286
 2018-11-28    0.393
 2018-11-29    0.321
 2018-11-30    0.214
 Freq: D, Name: zone11, dtype: float64,
 Timestamp('2018-12-10 00:00:00'): 2018-12-01    0.071
 2018-12-02    0.250
 2018-12-03    0.143
 2018-12-04    0.250
 2018-12-05    0.286
 2018-12-06    0.214
 2018-12-07    0.286
 2018-12-08    0.143
 2018-12-09    0.286
 2018-12-10    0.286
 2018-12-11    0.321
 2018-12-12    0.286
 2018-12-13    0.107
 2018-12-14    0.429
 2018-12-15    0.250
 2018-12-16    0.214
 2018-12-17    0.429
 2018-12-18    0.214
 2018-12-19    0.321
 Freq: D, Name: zone11, dtype: float64}

In [13]:
len(windows)

36

##3.4 Export autocorrelated windows to file 

Round values to some appropiate value.

In [27]:
#Remember to match the format to the value of round(df) used in Part2
def save_to_file(windows,file_path):
  with open(file_path,'w') as file:
    for timestamp in windows:
      windows[timestamp].to_csv(file,mode='a',header=False,index=False,float_format='%.3f')
      file.write('\n')

In [28]:
save_to_path=os.path.join(path,'data','training','theft.csv')
save_to_path

'/content/drive/My Drive/Colab Notebooks/crime_prediction/data/training/theft.csv'

In [29]:
save_to_file(windows,save_to_path)

##*** 3.5 DataFrame correlation(raw code not really used, I kept this code here to later use it somewhere else. )

In [ ]:
def get_window(dataframe,t,n):
  #if type(t) == int elif type(t)==str then use .loc, instead of iloc. For the time being, we will just assume t and n are integers 
  return dataframe.iloc[t-n:t,:]

def get_correlation(dataframe1,dataframe2):
  assert dataframe1.shape==dataframe2.shape,'Dataframes must have the same shape'
  ro=dataframe1.corrwith(dataframe2.set_index(dataframe1.index),axis=0) #Force alignment. Make sure size is the same for both dataframes
  return ro.mean() #For the time being we will stop with a general correlation among all zones

def get_correlated_endof_sequence_timestamp(dataframe,t,n=10,min_correlation=0.5):
  endof_sequence_timestamp=[]
  dataframe2=get_window(dataframe,t,n)
  for epoch in reversed(range(2*n,t)):
    dataframe1=get_window(dataframe,epoch-n,n)
    correlation=get_correlation(dataframe1,dataframe2)
    if correlation >= min_correlation:
      #record datetime value. We will use this datetime value to generate all sequences that will go as input to the RNN
      #print(dataframe.index[epoch]) 
      endof_sequence_timestamp.append(dataframe.index[epoch])
  return endof_sequence_timestamp

def get_correlated_dataframe_slice(dataframe,endof_sequence_timestamp,n):
  input={}
  output={}
  for timestamp in endof_sequence_timestamp:
    try:
      input[timestamp]=dataframe.loc[pd.date_range(start=timestamp,periods=n,freq='-1D')]
      output[timestamp]=dataframe.loc[pd.date_range(start=timestamp,periods=n+1,freq='1D',closed='right')]
    except:
      print('Missing dates at ', str(timestamp))
  #df with all inputs and outputs  
  return input,output

def get_IO_sequence(dataframe,periods,min_correlation=0.5):
  endof_sequence_timestamp=get_correlated_endof_sequence_timestamp(dataframe,len(dataframe),periods,min_correlation)
  input,output=get_correlated_dataframe_slice(dataframe,endof_sequence_timestamp,periods)
  #return input,output
  sequence={}
  for key in endof_sequence_timestamp: #Change from input to timestamp sequence
    try:
      sequence[key]= input[key][::-1].append(output[key])
    except:
      print('Error with key',str(key))
  return sequence      

def save_to_file(sequence,file_path):
  with open(file_path,'a') as file:
    for key in sequence:
      sequence[key].to_csv(file,mode='a',header=False,index=False)
      file.write('\n')

It would be ideal to save a list of dates for each zone where the correlation is high. Nevertheless, we will demote this as further work.

In [ ]:
sequence=get_IO_sequence(file,periods=10,min_correlation=0.25)

Missing dates at  2001-12-18 00:00:00
Missing dates at  2001-09-18 00:00:00
Missing dates at  2001-08-24 00:00:00
Missing dates at  2001-05-20 00:00:00
Error with key 2001-12-18 00:00:00
Error with key 2001-09-18 00:00:00
Error with key 2001-08-24 00:00:00
Error with key 2001-05-20 00:00:00

In [ ]:
sequence

{Timestamp('2002-02-17 00:00:00'):                zone1     zone2     zone3  ...   zone17    zone18    zone19
 2002-02-08 -1.835100 -2.006852 -2.110972  ... -2.14365 -1.750917 -2.537583
 2002-02-09 -1.614799 -1.817576 -2.110972  ... -1.98516 -1.750917 -2.537583
 2002-02-10 -1.614799 -2.006852 -2.242696  ... -2.14365 -1.750917 -2.537583
 2002-02-11 -1.835100 -2.006852 -2.242696  ... -2.14365 -1.750917 -2.537583
 2002-02-12 -1.835100 -1.817576 -2.242696  ... -2.14365 -1.750917 -2.537583
 2002-02-13 -1.614799 -1.817576 -2.110972  ... -2.14365 -1.750917 -2.456650
 2002-02-14 -1.835100 -2.006852 -2.242696  ... -1.98516 -1.750917 -2.294784
 2002-02-15 -1.835100 -2.006852 -2.110972  ... -2.14365 -1.750917 -2.537583
 2002-02-16 -1.835100 -1.817576 -2.242696  ... -2.14365 -1.750917 -2.456650
 2002-02-17 -1.835100 -2.006852 -2.242696  ... -2.14365 -1.750917 -2.537583
 2002-02-18 -1.835100 -2.006852 -2.242696  ... -2.14365 -1.432137 -2.537583
 2002-02-19 -1.835100 -2.006852 -2.110972  ... -2.14365 -1.432137 -2.537583
 2002-02-20 -1.394499 -1.817576 -2.110972  ... -2.14365 -1.750917 -2.537583
 2002-02-21 -1.835100 -2.006852 -2.110972  ... -2.14365 -1.750917 -2.375717
 2002-02-22 -1.614799 -2.006852 -2.242696  ... -2.14365 -1.432137 -2.537583
 2002-02-23 -1.835100 -2.006852 -2.242696  ... -2.14365 -1.750917 -2.537583
 2002-02-24 -1.835100 -2.006852 -2.242696  ... -2.14365 -1.750917 -2.537583
 2002-02-25 -1.614799 -2.006852 -2.242696  ... -2.14365 -1.750917 -2.456650
 2002-02-26 -1.835100 -1.817576 -2.110972  ... -2.14365 -1.750917 -2.537583
 2002-02-27 -1.614799 -1.817576 -1.847523  ... -1.98516 -1.432137 -2.537583

 [20 rows x 19 columns],
 Timestamp('2002-06-06 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2002-05-28  0.367908  0.453736  1.577310  ...  0.709169  2.393226  0.295074
 2002-05-29  0.367908 -0.114092  1.445585  ...  0.392189  0.480545  0.295074
 2002-05-30 -0.292995  0.832288  0.918688  ...  1.660109  0.161764  1.590003
 2002-05-31  0.808509  0.453736  1.972483  ...  1.343129  1.118105  0.699740
 2002-06-01 -0.072694  1.778669  1.972483  ...  1.343129  1.118105  0.537874
 2002-06-02 -0.513295  0.264460  1.709034  ...  0.392189  1.755665  0.052275
 2002-06-03 -0.292995  0.075184  0.786964  ... -0.717241  1.118105  0.133208
 2002-06-04  0.147607  1.210840  1.182137  ...  1.343129 -0.794576 -0.028658
 2002-06-05  0.147607  0.643012  1.182137  ...  0.550679  1.755665  0.699740
 2002-06-06  1.689712 -0.114092  1.313861  ...  0.075209  2.393226  0.618807
 2002-06-07  1.249111 -0.492644  0.655239  ...  0.392189  1.118105  1.670936
 2002-06-08 -0.072694  0.264460  1.050412  ...  0.867659  0.480545  1.185338
 2002-06-09 -0.292995 -1.439024  0.523515  ...  0.075209  0.161764  0.214141
 2002-06-10  0.808509  0.643012  0.655239  ... -0.241771 -0.157016  0.618807
 2002-06-11 -0.292995 -0.114092  0.786964  ...  1.818599  1.118105  1.428137
 2002-06-12  0.588208  1.778669  1.050412  ...  0.233699  2.074446  1.994669
 2002-06-13  0.147607  0.643012  0.786964  ...  0.233699  1.755665  1.670936
 2002-06-14  0.147607  1.967945  0.786964  ...  0.867659  0.799325  3.046799
 2002-06-15  0.147607 -0.303368  1.050412  ...  2.769538  1.118105  0.618807
 2002-06-16 -0.513295  0.643012  1.050412  ...  0.867659  0.480545 -0.190524

 [20 rows x 19 columns],
 Timestamp('2003-06-05 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2003-05-27  0.808509  1.021564  0.523515  ...  0.709169  2.393226  0.699740
 2003-05-28 -0.513295  0.264460  0.918688  ...  0.867659 -0.794576  0.780673
 2003-05-29  2.130314  1.021564  0.786964  ...  1.818599 -0.157016  0.699740
 2003-05-30  0.588208  0.643012  0.655239  ...  1.026149  2.074446  1.913736
 2003-05-31  0.588208  1.021564  0.918688  ...  1.501619  0.161764  0.456941
 2003-06-01  1.249111  0.643012  2.104207  ...  1.343129  2.393226  0.699740
 2003-06-02  0.588208 -0.303368  1.050412  ...  1.026149 -0.157016  0.861606
 2003-06-03  0.367908  1.210840  1.840758  ...  0.233699 -0.475796  0.456941
 2003-06-04  1.910013  0.643012  1.840758  ...  1.818599  1.755665 -0.109591
 2003-06-05  0.588208  0.075184  0.260066  ...  1.977089  1.436885 -0.109591
 2003-06-06  1.689712  1.778669  0.918688  ...  1.501619  1.436885  0.376007
 2003-06-07 -0.733596  1.400117  1.840758  ...  0.550679  0.161764  0.699740
 2003-06-08 -0.072694 -0.492644  0.128342  ...  0.233699 -0.157016  0.214141
 2003-06-09  0.588208 -0.114092  0.523515  ...  1.660109  2.074446  0.295074
 2003-06-10  1.249111  1.021564  1.182137  ...  1.026149  0.480545  0.376007
 2003-06-11  1.249111  0.075184  0.918688  ...  1.026149  0.161764  0.214141
 2003-06-12  0.147607  1.210840  0.655239  ... -0.083281 -0.475796  0.618807
 2003-06-13  0.808509  0.453736  1.709034  ...  0.392189  0.799325  0.295074
 2003-06-14  1.249111  0.643012  1.445585  ...  0.075209  0.480545  0.376007
 2003-06-15  2.570915  1.021564  0.391791  ...  0.075209  1.118105 -0.109591

 [20 rows x 19 columns],
 Timestamp('2004-05-17 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2004-05-08  0.147607  0.643012  0.523515  ... -0.083281  1.118105  0.133208
 2004-05-09  0.147607  0.264460  0.391791  ... -0.083281 -0.794576 -0.271457
 2004-05-10  0.588208  1.021564 -0.003382  ... -0.083281  1.436885 -0.109591
 2004-05-11 -0.733596  1.400117 -0.135107  ...  0.392189  1.755665  0.376007
 2004-05-12  1.469411  1.589393 -0.003382  ...  0.233699  0.161764  0.214141
 2004-05-13 -0.072694  0.264460  0.128342  ...  1.026149  1.118105  0.214141
 2004-05-14  1.249111  0.453736 -0.266831  ...  1.501619  1.118105  1.185338
 2004-05-15  1.028810  1.021564  0.918688  ...  1.501619 -0.157016  0.699740
 2004-05-16 -0.292995  1.021564  1.050412  ... -0.241771 -0.157016 -0.595189
 2004-05-17  0.367908  1.589393  0.655239  ...  0.867659  0.161764  1.023472
 2004-05-18  1.910013  0.643012  0.918688  ...  0.709169 -1.432137  1.023472
 2004-05-19  0.588208  0.453736  0.523515  ...  0.075209  1.118105  1.023472
 2004-05-20  1.249111 -0.114092  0.128342  ...  0.867659  1.755665  1.023472
 2004-05-21  0.588208  0.075184  1.709034  ... -0.083281 -1.432137  0.780673
 2004-05-22 -0.292995  0.264460  0.655239  ...  0.392189  0.161764  0.537874
 2004-05-23  1.910013 -1.060472  0.786964  ... -0.241771 -0.157016 -0.028658
 2004-05-24 -0.072694  0.453736  0.391791  ...  1.343129 -0.157016  0.780673
 2004-05-25  0.147607  2.535773  0.523515  ...  0.392189  0.799325  0.780673
 2004-05-26  1.689712  1.400117  0.786964  ...  0.867659  0.480545  0.295074
 2004-05-27  0.808509  0.264460  1.577310  ... -0.083281 -0.157016  1.023472

 [20 rows x 19 columns],
 Timestamp('2004-09-03 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2004-08-25  2.791216  1.589393  1.972483  ...  1.026149  0.161764  0.537874
 2004-08-26  3.011517  2.346497  2.104207  ...  0.867659  1.118105  0.942539
 2004-08-27  2.130314  1.967945  1.840758  ...  3.561988  0.799325  1.428137
 2004-08-28  2.570915  1.589393  0.128342  ...  1.184639  1.436885 -0.271457
 2004-08-29  3.452118  1.021564  2.104207  ...  2.135579  0.161764  0.861606
 2004-08-30  3.231818  1.967945  1.577310  ...  1.660109  2.074446  1.185338
 2004-08-31  2.791216  1.021564  1.445585  ...  2.452558  3.349567  1.590003
 2004-09-01  3.011517  2.157221  0.786964  ...  1.977089  3.987127  1.185338
 2004-09-02  1.689712  0.075184  1.840758  ...  0.867659  2.074446  1.023472
 2004-09-03  2.791216  0.832288  0.786964  ...  1.501619 -0.157016  0.537874
 2004-09-04  1.689712  2.346497  1.050412  ...  2.294068  2.074446 -0.109591
 2004-09-05  2.791216  1.021564  0.391791  ...  1.818599  0.161764  0.942539
 2004-09-06  1.249111  1.778669  0.918688  ...  0.075209  0.799325 -0.190524
 2004-09-07  3.672419  0.453736 -0.003382  ...  0.709169  0.799325  0.699740
 2004-09-08  1.028810  1.967945  0.786964  ...  1.184639 -0.157016  0.618807
 2004-09-09 -0.292995  0.643012  0.655239  ...  0.550679  1.436885  0.618807
 2004-09-10  1.249111  2.157221  1.313861  ...  2.769538  2.074446  1.023472
 2004-09-11 -0.072694  2.725049  0.128342  ...  1.818599 -0.475796  0.861606
 2004-09-12  1.249111 -0.492644  0.655239  ...  1.026149 -0.475796  0.052275
 2004-09-13  1.910013  0.832288  0.523515  ...  0.550679  0.799325  0.052275

 [20 rows x 19 columns],
 Timestamp('2005-04-02 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2005-03-24 -0.072694  0.453736 -0.662004  ... -0.717241  0.161764  0.052275
 2005-03-25 -0.292995  0.264460 -0.003382  ...  0.233699  1.436885  1.347204
 2005-03-26  0.367908  2.157221 -0.003382  ...  0.233699  0.480545 -0.514256
 2005-03-27  1.028810  0.453736  0.128342  ... -1.034221  0.480545 -0.514256
 2005-03-28 -0.513295  0.832288 -0.135107  ... -0.875731  0.161764 -0.352390
 2005-03-29  0.147607  1.021564 -0.003382  ... -0.717241  0.799325 -0.514256
 2005-03-30  0.367908  0.453736 -0.398555  ... -0.400261  0.480545 -0.433323
 2005-03-31 -0.072694 -0.114092 -0.398555  ...  0.233699  0.161764  0.133208
 2005-04-01  1.249111  0.832288 -0.003382  ...  1.501619  2.074446  1.104405
 2005-04-02 -0.733596 -0.114092  0.260066  ...  0.075209 -0.475796 -0.676122
 2005-04-03 -0.733596 -0.492644  0.260066  ... -0.083281 -0.157016 -1.404520
 2005-04-04 -0.733596 -0.114092  0.655239  ...  0.550679  0.161764 -0.271457
 2005-04-05  1.028810  0.832288  0.128342  ...  0.075209  1.436885 -0.028658
 2005-04-06  0.147607  0.832288  0.655239  ...  1.026149  1.118105 -0.190524
 2005-04-07 -0.292995  1.210840  0.918688  ... -0.241771 -0.157016 -0.109591
 2005-04-08 -0.513295  0.453736  1.709034  ...  0.709169  1.118105  0.942539
 2005-04-09 -0.513295 -0.303368  0.391791  ...  1.660109 -0.794576  0.699740
 2005-04-10  0.367908 -0.681920  0.260066  ... -0.241771 -0.475796 -0.190524
 2005-04-11 -0.953897 -0.303368  0.391791  ... -0.717241 -0.794576 -0.109591
 2005-04-12 -0.072694 -0.871196 -0.135107  ...  0.550679 -0.157016  0.214141

 [20 rows x 19 columns],
 Timestamp('2007-01-18 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2007-01-09  0.147607  0.075184 -0.003382  ...  0.233699  0.161764  0.052275
 2007-01-10 -0.292995  0.075184  0.391791  ... -0.241771  1.755665 -0.028658
 2007-01-11  1.028810  1.400117 -0.530280  ... -0.875731  0.480545  0.295074
 2007-01-12  0.588208  0.453736  1.709034  ...  0.550679  1.755665  1.023472
 2007-01-13 -0.733596 -0.871196  0.128342  ... -0.875731 -0.475796 -0.028658
 2007-01-14 -1.394499  0.075184  1.182137  ...  0.233699 -1.113357 -1.080788
 2007-01-15  0.808509  0.643012  0.523515  ...  0.075209  0.799325 -1.080788
 2007-01-16 -0.733596  0.453736 -0.662004  ... -0.400261  0.161764 -0.514256
 2007-01-17 -0.513295 -0.681920  0.391791  ... -0.083281  0.161764 -0.109591
 2007-01-18 -0.953897  0.832288 -0.135107  ... -0.558751 -0.157016 -0.595189
 2007-01-19  0.147607  0.264460  0.523515  ...  1.026149 -0.157016  0.456941
 2007-01-20 -0.953897  1.210840 -0.003382  ...  0.075209 -0.794576  0.376007
 2007-01-21  0.147607 -0.303368  0.260066  ... -0.400261 -1.432137 -0.271457
 2007-01-22  0.808509 -0.492644  0.391791  ...  0.233699 -0.475796 -0.190524
 2007-01-23 -0.292995  0.453736 -0.530280  ... -0.241771 -0.475796 -0.352390
 2007-01-24 -0.513295  1.400117 -0.793728  ... -0.241771  0.161764 -0.595189
 2007-01-25  0.367908 -0.303368 -0.003382  ... -0.241771 -0.794576 -0.514256
 2007-01-26 -0.072694  0.453736  1.182137  ...  0.867659 -0.157016 -0.109591
 2007-01-27  0.367908  0.643012  0.786964  ...  0.233699  0.799325  0.780673
 2007-01-28 -1.174198 -1.249748 -0.266831  ... -0.717241 -1.113357 -1.161721

 [20 rows x 19 columns],
 Timestamp('2007-02-26 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2007-02-17 -1.174198  0.075184 -0.662004  ... -1.034221 -0.157016 -0.271457
 2007-02-18  0.147607 -0.492644 -0.925453  ... -1.509690 -1.113357 -0.837988
 2007-02-19  0.367908  0.075184 -0.662004  ... -0.875731  0.161764  0.699740
 2007-02-20 -0.513295  1.210840  0.128342  ... -0.558751  1.436885 -0.271457
 2007-02-21  1.469411 -1.060472  0.260066  ... -0.400261  0.480545  1.023472
 2007-02-22 -0.072694  0.453736  0.128342  ... -0.875731  1.118105 -0.433323
 2007-02-23  0.808509 -0.492644  0.260066  ... -0.400261  0.480545 -0.028658
 2007-02-24 -0.292995  0.832288 -0.925453  ... -0.558751 -0.475796  0.214141
 2007-02-25 -0.953897 -0.114092 -0.003382  ... -0.400261 -0.475796 -0.837988
 2007-02-26  0.808509 -0.114092 -0.662004  ... -0.717241  0.161764 -0.837988
 2007-02-27 -0.953897  0.832288 -0.135107  ... -0.241771 -0.475796 -0.676122
 2007-02-28  0.147607  0.264460  0.655239  ... -0.400261  0.161764 -0.595189
 2007-03-01  0.808509  1.589393 -0.398555  ...  0.075209  0.799325 -0.109591
 2007-03-02 -0.072694  0.832288 -0.003382  ... -0.400261  0.480545  1.185338
 2007-03-03  1.028810 -0.303368  0.260066  ...  1.343129  0.161764  0.133208
 2007-03-04 -0.292995  0.264460 -0.135107  ... -0.241771 -1.113357 -0.190524
 2007-03-05 -0.513295 -0.303368 -0.398555  ... -0.400261 -0.475796 -0.595189
 2007-03-06 -0.733596 -0.114092 -0.662004  ... -1.192711  0.799325 -0.757055
 2007-03-07 -0.292995  0.453736 -0.003382  ... -1.668180 -0.475796 -0.676122
 2007-03-08  0.588208  0.264460 -0.003382  ... -0.717241 -0.157016  0.052275

 [20 rows x 19 columns],
 Timestamp('2007-10-14 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2007-10-05  0.147607 -0.871196  1.445585  ...  1.501619  1.118105  0.537874
 2007-10-06  1.689712  2.157221  1.050412  ...  1.343129 -0.157016  0.618807
 2007-10-07 -0.292995  0.832288  1.577310  ...  0.709169  0.161764 -0.352390
 2007-10-08  0.367908  1.589393  0.523515  ...  0.392189  0.480545 -0.514256
 2007-10-09  1.249111 -0.114092  1.050412  ... -0.241771  0.480545  1.266271
 2007-10-10  1.910013  1.589393  0.918688  ...  0.709169 -0.157016  0.214141
 2007-10-11 -0.292995  1.021564  0.523515  ...  0.550679 -0.157016  0.376007
 2007-10-12  0.588208  1.210840  1.445585  ...  1.026149  1.755665  0.861606
 2007-10-13  0.588208  0.643012  0.523515  ...  1.660109 -0.157016 -0.109591
 2007-10-14 -0.292995 -0.871196  0.523515  ...  1.026149  1.436885 -0.514256
 2007-10-15  1.689712  1.400117  1.445585  ...  0.392189  2.393226 -0.109591
 2007-10-16 -0.072694  1.021564  0.128342  ...  0.867659  2.074446 -0.190524
 2007-10-17  0.808509  0.264460  0.128342  ...  0.233699  1.118105  0.052275
 2007-10-18 -0.292995  0.832288  0.260066  ...  1.184639  0.799325  0.780673
 2007-10-19  0.588208  1.210840  0.391791  ...  2.294068  1.436885  0.618807
 2007-10-20  1.469411  1.210840  0.655239  ... -0.717241  0.161764  0.537874
 2007-10-21  0.147607  0.643012  0.786964  ...  2.135579  0.480545 -0.190524
 2007-10-22  0.588208  0.075184  0.260066  ...  1.026149 -0.475796  0.133208
 2007-10-23 -0.072694  1.400117  0.786964  ...  1.660109  2.712006  0.780673
 2007-10-24  1.028810  1.021564  0.128342  ...  1.818599  2.393226  0.537874

 [20 rows x 19 columns],
 Timestamp('2008-06-09 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2008-05-31  0.367908  1.021564  0.128342  ...  1.343129 -0.157016  0.133208
 2008-06-01  0.147607  1.967945  0.918688  ...  1.977089  1.436885 -0.109591
 2008-06-02 -0.072694  1.967945  1.445585  ...  1.977089  0.799325  0.942539
 2008-06-03 -0.733596  1.021564  1.577310  ...  0.550679  1.436885 -0.676122
 2008-06-04 -0.072694  0.075184 -0.135107  ...  0.233699  1.755665  0.861606
 2008-06-05  0.588208  0.643012  0.260066  ...  0.709169  1.118105  0.699740
 2008-06-06  0.367908  1.021564  0.128342  ...  0.709169  0.799325  0.618807
 2008-06-07  0.147607  0.264460  0.391791  ...  0.867659 -0.794576  0.456941
 2008-06-08  0.367908  1.778669  0.391791  ...  0.233699  0.161764  0.295074
 2008-06-09  1.469411  0.832288  1.313861  ...  0.867659  2.393226 -0.595189
 2008-06-10  0.808509  3.482153  0.391791  ...  1.818599  0.799325  1.104405
 2008-06-11  0.808509  1.589393  0.655239  ...  1.501619  0.480545  0.942539
 2008-06-12  0.147607  0.453736 -0.266831  ...  0.709169  1.118105  1.104405
 2008-06-13  0.147607  0.643012  1.313861  ...  0.867659  0.799325  1.509070
 2008-06-14  0.588208  2.157221  1.577310  ...  0.550679  1.118105  1.994669
 2008-06-15  0.808509  0.075184  1.182137  ...  0.550679  0.161764  0.133208
 2008-06-16 -0.292995  0.453736  1.840758  ...  2.769538 -1.432137  0.376007
 2008-06-17  0.588208  1.400117 -0.398555  ...  0.075209 -0.475796  0.214141
 2008-06-18  0.588208  1.021564  0.655239  ...  1.501619  1.436885  0.861606
 2008-06-19 -0.072694  0.075184  0.391791  ...  0.709169 -0.794576  1.023472

 [20 rows x 19 columns],
 Timestamp('2009-02-25 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2009-02-16 -0.072694  0.075184 -0.135107  ...  0.075209 -0.794576  0.295074
 2009-02-17  0.367908  0.264460  0.523515  ... -0.558751  1.755665 -0.595189
 2009-02-18 -0.733596  0.643012  0.391791  ...  0.233699 -0.157016  0.942539
 2009-02-19 -0.072694 -0.492644 -0.530280  ... -0.400261 -0.157016 -1.080788
 2009-02-20 -0.513295  0.643012  2.104207  ... -0.083281  0.799325  0.861606
 2009-02-21 -1.174198 -1.249748 -0.266831  ... -0.875731 -0.794576  0.537874
 2009-02-22 -0.953897 -0.303368  0.523515  ...  0.075209 -0.794576 -0.190524
 2009-02-23 -0.513295  0.832288 -0.662004  ... -0.558751 -0.157016 -0.514256
 2009-02-24 -0.733596 -0.681920 -0.398555  ...  0.233699  0.161764  0.133208
 2009-02-25  1.689712 -0.871196 -0.266831  ...  0.233699  0.480545  0.052275
 2009-02-26  0.367908 -0.303368  0.786964  ...  0.709169 -0.475796 -0.352390
 2009-02-27 -0.072694 -0.492644  0.523515  ...  0.550679  0.161764  0.699740
 2009-02-28  0.147607  0.453736  0.391791  ... -0.083281  0.161764  0.537874
 2009-03-01 -0.513295 -0.681920 -0.925453  ...  0.392189  1.436885 -1.242654
 2009-03-02 -0.072694  1.210840  0.391791  ... -0.400261 -0.157016 -0.271457
 2009-03-03 -0.072694 -0.303368 -0.003382  ... -0.241771  1.436885 -0.595189
 2009-03-04 -0.292995  0.075184  0.391791  ...  0.550679  0.799325 -0.109591
 2009-03-05 -0.292995  0.643012 -0.398555  ... -0.875731 -0.157016 -0.433323
 2009-03-06  0.588208 -0.492644  0.523515  ...  0.392189 -0.157016  0.618807
 2009-03-07 -0.292995  0.643012  1.313861  ... -0.558751  1.118105 -0.028658

 [20 rows x 19 columns],
 Timestamp('2009-05-17 00:00:00'):                zone1     zone2     zone3  ...    zone17    zone18    zone19
 2009-05-08 -0.292995 -0.492644  1.182137  ...  0.867659  0.161764 -0.028658
 2009-05-09 -0.733596  1.778669  0.918688  ...  0.075209 -0.475796  0.214141
 2009-05-10 -1.174198 -0.492644  0.391791  ...  0.550679 -1.113357 -0.514256
 2009-05-11  1.689712  1.400117  0.260066  ...  0.075209  1.118105 -0.433323
 2009-05-12  0.147607  0.643012  0.786964  ...  0.550679 -0.794576  0.052275
 2009-05-13 -0.513295  0.832288  0.786964  ... -0.083281  1.436885 -0.352390
 2009-05-14 -0.513295  0.075184  0.523515  ... -0.400261 -0.157016  0.456941
 2009-05-15  0.808509  0.075184  0.786964  ...  0.392189  0.161764  0.780673
 2009-05-16  0.147607 -0.303368  1.050412  ... -0.875731  0.161764  1.266271
 2009-05-17 -1.394499  0.832288  2.104207  ...  0.233699 -0.157016 -0.352390
 2009-05-18 -0.072694  0.832288  0.523515  ...  0.392189  0.799325 -0.028658
 2009-05-19 -0.733596 -0.114092 -0.135107  ...  0.392189  1.118105 -0.028658
 2009-05-20  1.028810  0.075184  1.313861  ... -0.558751  1.436885 -0.433323
 2009-05-21 -0.513295 -0.114092  0.655239  ...  0.550679 -1.113357 -0.352390
 2009-05-22 -0.072694  1.021564  1.577310  ...  1.184639 -0.475796  0.537874
 2009-05-23 -0.953897  0.832288  1.050412  ...  0.233699 -0.475796  1.347204
 2009-05-24  0.147607  0.832288  0.523515  ... -0.400261 -0.794576 -0.352390
 2009-05-25 -1.174198  0.075184  0.786964  ...  1.184639 -0.475796 -0.595189
 2009-05-26  1.469411  0.453736  0.655239  ... -0.083281  0.480545 -0.595189

In [ ]:
file_path=os.path.join(path,'data','training','theft2.csv')

In [ ]:
file_path

'/content/drive/My Drive/Colab Notebooks/crime_prediction/data/theft.csv'

In [ ]:
save_to_file(sequence,file_path)