<a href="https://colab.research.google.com/github/uteyechea/crime-prediction-using-artificial-intelligence/blob/master/temporal_correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import os
import gc

import pandas as pd
from scipy import stats

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

path='/content/drive/My Drive/Colab Notebooks/crime_prediction'

Mounted at /content/drive

Get a window of length t-n, where t is the end datetime and n is the length of the temporal window in a data series.

In [97]:
file_path=os.path.join(path,'data','theft.csv')
file=pd.read_csv(file_path,sep=',',parse_dates=['Date'],index_col='Date')

In [98]:
file

            zone0  zone1  zone2  zone3  zone4  zone5
Date
2001-01-01    0.0   16.0   33.0   19.0    0.0   47.0
2001-01-02    0.0    0.0    4.0    2.0    0.0    1.0
2001-01-03    0.0    0.0    0.0    0.0    0.0    1.0
2001-01-05    0.0    1.0    0.0    0.0    0.0    0.0
2001-01-06    0.0    0.0    0.0    0.0    0.0    0.0
...           ...    ...    ...    ...    ...    ...
2020-07-04    0.0   18.0   17.0   26.0    0.0   21.0
2020-07-05    0.0   11.0   22.0   22.0    0.0   10.0
2020-07-06    0.0   22.0   27.0   34.0    0.0   21.0
2020-07-07    0.0   19.0   16.0   26.0    0.0   20.0
2020-07-08    0.0   17.0   20.0   22.0    0.0   20.0

[7049 rows x 6 columns]

In [126]:
file1=file.iloc[-10:-1,:] #start at some date

In [127]:
file2=file.iloc[-19:-10,:] #lag n, then itereate over the whole time series.

In [128]:
correlation=file1.corrwith(file2.set_index(file1.index),axis=0) #Force alignment. Make sure size is the same for both dataframes

It would be ideal to save a list of dates for each zone where the correlation is high. Nevertheless, we will demote this as further work.

In [142]:
correlation.mean() #For the time being we will stop with a general correlation among all zones

-0.19700144731414365

In [144]:
if correlation.mean() > min_correlation:
  #record datetime value. We will use this datetime value to generate all sequences that will go as input to the RNN
  pass