In [3]:
import os
import pandas as pd

In [31]:
cwd = os.getcwd() #use __file__ if running a .py script.
file_path = os.path.join(cwd,'data','CrimesAll.csv')

In [27]:
file = pd.read_csv(file_path,sep=',')

In [26]:
file.shape

(7153060, 22)

In [55]:
file_nonulls=file.dropna(axis='index')

In [56]:
file_nonulls.shape

(6472804, 22)

In [58]:
file_nonulls.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
63299,11665567,JC234307,04/10/2019 04:37:00 PM,102XX S VERNON AVE,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,SCHOOL - PUBLIC BUILDING,False,False,...,9.0,49.0,17,1181051.0,1837225.0,2019,04/17/2020 03:50:24 PM,41.708589,-87.612583,"(41.708589, -87.612583094)"
63383,11667963,JC235212,04/12/2019 04:08:00 PM,032XX N KEELER AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,RESIDENCE,False,True,...,30.0,16.0,02,1147835.0,1921408.0,2019,10/02/2019 04:13:24 PM,41.940298,-87.732066,"(41.940297617, -87.732066473)"
63384,11667968,JC237058,04/19/2019 01:57:00 PM,002XX N LARAMIE AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,...,28.0,25.0,17,1141669.0,1901165.0,2019,03/18/2020 03:52:17 PM,41.884865,-87.755230,"(41.884865037, -87.755230327)"
63460,11668309,JC238187,04/25/2019 05:20:00 PM,108XX S DR MARTIN LUTHER KING JR DR,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,9.0,49.0,08B,1180832.0,1833222.0,2019,06/30/2019 03:56:27 PM,41.697609,-87.613508,"(41.697609261, -87.613507612)"
63864,11692179,JC261724,05/13/2019 05:26:00 PM,090XX S RACINE AVE,0560,ASSAULT,SIMPLE,STREET,False,False,...,21.0,73.0,08A,1169908.0,1844927.0,2019,06/30/2019 03:56:27 PM,41.729973,-87.653167,"(41.729973132, -87.653166753)"

In [59]:
crime={
    'type': [primary_type for primary_type in file_nonulls.loc[:,'Primary Type']], 
    'latitude': [latitude for latitude in file_nonulls.loc[:,'Latitude']],
    'longitude': [longitude for longitude in file_nonulls.loc[:,'Longitude']], 
      }

In [61]:
pd.DataFrame(crime)

                               type   latitude  longitude
0                       SEX OFFENSE  41.708589 -87.612583
1        OFFENSE INVOLVING CHILDREN  41.940298 -87.732066
2        OFFENSE INVOLVING CHILDREN  41.884865 -87.755230
3                           BATTERY  41.697609 -87.613508
4                           ASSAULT  41.729973 -87.653167
...                             ...        ...        ...
6472799                     ASSAULT  41.959944 -87.767226
6472800                     BATTERY  41.917879 -87.742535
6472801               OTHER OFFENSE  41.862830 -87.717040
6472802                    HOMICIDE  41.864278 -87.659660
6472803                    HOMICIDE  41.864278 -87.659682

[6472804 rows x 3 columns]